In [4]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels import robust
import pandas as pd

In [5]:
haberMan = pd.read_csv("haberman.csv")
haberMan

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [6]:
haberMan.shape

(305, 4)

In [7]:
haberMan.columns

Index(['30', '64', '1', '1.1'], dtype='object')